body {
    background-color:grey;
    color:white;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.introduction{
    color:yellow;
}

span{
    color: blue;
}


button {
    padding: 5px 20px;
    background-color: lightgrey;
    color: black;
    border-style: none;
  }

#game-area{ /*div id は# */
    width: 500px;
    font-size: 100px;
    margin-right: auto;
    margin-left: auto;
}